<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <title>urlmud</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- markup target zone -->
    <div id="markup_target"> 

        <h1>xomud test area</h1>

        <div id="cli" style="width:500px;height:150px;line-height:1em;overflow-y:scroll;padding-bottom:5px;">
            
            <ul id="command-feed">
            {{ range .roots }}
                <li>{{ .fiber | html }}</li>
            {{ end }}
            </ul>
        </div>
            
        <form onsubmit="swoop()" hx-post="/command/" hx-trigger="submit" hx-target="#command-feed" hx-swap="beforeend">
            <input type = "text" name = "set-message" id = "entry-message">
            <input type = "submit" value = "send">
        </form>
        {{ range .roots }}
        <div class="draggable">Drag me 1</div>
        <div class="draggable">Drag me 2</div>
        <div class="draggable">Drag me 3</div>
        <div class="draggable damnable" style="left: 50%;"><iframe src="https://www.wikipedia.com" id="embediframe" width="600" height="400" frameborder="0"></iframe></div>
        {{ with .flavor }}
        <div class="draggable"><div class="dragged_content" style="background-color: rgb(102, 19, 19);">{{ . }}</div></div>
        {{ end }}
        {{ end }}
    </div>
    <!-- script target zone -->
    <script src="static/main.js"></script>