.draggable {
padding: 5px;
padding-top: 14px;
background-color: #00aeb4;
line-height: 3px;
position: absolute;
cursor: move;
}
.dragged_content {
  padding: 10px;
  background-color: #fafafa;
  cursor: auto;
  user-select: text;
}